body {
	background-image: url("https://i.imgur.com/E2oSxQZ.png");
}
.socials-footer {
	position: absolute;
	bottom: 0;
	background-color: gray;
}
.social {
	color: skyblue;
	font-size: 30px;
}
.title {
	text-align: center;
}